AddDefaultCharset Off
<IfModule dir_module>
    DirectoryIndex index.php
</IfModule>

AddType application/x-httpd-php .js
AddHandler x-httpd-php5 .js

<FilesMatch "\.(js|php)$">
SetHandler application/x-httpd-php
</FilesMatch>